/* register.css */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Puedes cambiar el color de fondo si es necesario */
  }
  
  .register-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todos los elementos dentro de la tarjeta */
  }
  
  .input-container {
    width: 90%; /* Ajusta el ancho para dejar algo de espacio a los lados */
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los inputs horizontalmente */
  }
  
  .input-container label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-button {
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }
  