*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.contenedor-register{
    width: 100vw;
    height: auto;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.form-register{
    display: block;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}