*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
 

body{
    background-color: rgb(155, 164, 181);
}

main{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) ;
    gap: 1rem;
}

.Producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    max-width: 100%;
    height: auto;
}
.Producto:hover{
    border: 2px solid black ;
    scale: 1.02;
    transition: all 0.5s ease;
}
.producto-logo{
    width: 600px;
    max-height: 600px;
}

.Producto img{
    display: flex;
    align-content: center;
    margin: 16px;
    max-width: 400px;
    height: auto;
}
