*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
 

body{
    background-color: rgb(155, 164, 181);
}

.main_1{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(2, 1fr) ;
    gap: 1rem;
}

.Producto-gad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    max-width: 100%;
    height: auto;
}
.Producto-gad:hover{
    scale: 1.02;
    transition: all 0.5s ease;
}
.producto-cat-gad{
    width: auto;
    max-height: auto;
}

.Producto-gad img{
    display: flex;
    align-content: center;
    margin: 16px;
    max-width: 400px;
    height: auto;
}
